# Зависимости Node.js
node_modules/

# Медиа, которые не нужно пушить
public/animations/

# Конфиденциальные данные
.env

# Настройки VS Code
.vscode/

# Логи
*.log

# Временные и кеш-файлы
*.tmp
*.cache

# Папки сборки (если будут)
dist/
build/
